
@*@Scripts.Render("~/bundles/methods")
@Scripts.Render("~/bundles/api")*@
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hospital Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu administration" role="menu">
                        <li>@Html.ActionLink("System Users", "Index", "User")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Privilages", "Index", "Permission")</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a class="dropdown-item" href="#" name="default" onclick="methods.themes(this.name)">Default </a>   <div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="#" name="ocean" onclick="methods.themes(this.name)">Ocean</a>   <div class="dropdown-divider"></div></li>
                        <li> <a class="dropdown-item" href="#" name="solar" onclick="methods.themes(this.name)">Solar </a>   <div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="#" name="cyborg" onclick="methods.themes(this.name)">Cyborg</a>   <div class="dropdown-divider"></div></li>
                        <li> <a class="dropdown-item" href="#" name="darkly" onclick="methods.themes(this.name)">Darkly </a>   <div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="#" name="slate" onclick="methods.themes(this.name)">Slate</a>   <div class="dropdown-divider"></div></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>

                <ul class="navbar-nav me-auto">
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#" id="role">
                            Admin :
                        </a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#" id="user">
                            Nolwazi Mlonzi
                        </a>
                    </li>
                </ul>
                <i class="fa fa-user-circle nav-icon" aria-hidden="true"></i>
                <a href="/">
                    <i class="fa fa-sign-out-alt nav-icon" aria-hidden="true"></i>
                </a>
            </form>
        </div>
    </div>
</nav>